.form-select {
  border: 1px solid #fff;
  width: auto;
}

.editor-wrap {
  display: none;
}

.ck.ck-editor__editable_inline {
  height: 319px;
}

.pagination .material-symbols-outlined {
  font-size: 16px;
  vertical-align: middle;
}

.page-link {
  color: $dark;
}

.table-group-divider td,
.table-group-divider th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.editAdmin .form-control {
  background-color: $light;
  border: none;
}

.form-check-input:checked {
  background-color: $success;
  border-color: $success;
}

.radiusNone .form-check-input[type="checkbox"] {
  border-radius: 3rem;
}

.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
  border-color: $gray-400;
  color: $gray-400;
}

.modal-header {
  padding: 32px;
}

.modal-body {
  padding: 0 32px;
}

.modal-footer {
  padding: 16px 32px;
}

.information img {
  width: 141px;
  height: 141px;
}

.information-icon {
  height: 141px;
}

.information-icon .expand_less {
  display: none;
}