body {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  width: fit-content;
  height: auto;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $dark;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.nav-link {
  display: flex;
}

.main-sideBar {
  width: 296px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: $gray-100;
  color: $green;
  border-left: 4px solid $green;
  padding: 0.5rem calc(2rem - 4px);
}

.nav-link:hover,
.nav-link:focus {
  color: $green;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-link {
  color: $black;
  padding: 0.5rem 2rem;
}

.personal img {
  width: 40px;
  height: 40px;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.fs-12 {
  font-size: 12px;
  line-height: 24px;
}

.fs-14 {
  font-size: 14px;
  line-height: 24px;
}

.info {
  margin-top: 12px;
  margin-bottom: 6px;
}

.ms-56 {
  margin-left: 56px;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

.pe-32 {
  padding-right: 32px;
}

.secondary-line {
  border: 1px solid $gray-400;
}

.list-group-item.active {
  background-color: $gray-100;
  color: $gray-900;
  border: 1px solid $gray-400;
}

a:hover {
  color: $success;
}